<div class="container border">

    <div class="container">
      <div class="row text-center">
        <div class="col-xs-6">
          <%= image_tag"mobile.svg"%>
        </div>
        <div class="col-xs-6">
          <%= image_tag"mobile.svg"%>
        </div>
      </div>
    </div>

    <div class="vertical-spacer"></div>
    
    <div class="container text-center" id="announcement">

      <div class="text-center slideRight">
        <%= image_tag"poussette.svg"%>
      </div>
              
      <p>C'est avec une immense joie que nous vous annonçons la naissance de notre fille
      <h1>MATHILDA</h1>
      le 10 juillet 2015</p>
      <p>Adorable, elle nous ravit à chaque instant et nous comble de bonheur</p>
      

      <div class="text-center">
        <% link_to '#video' do %>
          <%= image_tag"baby.svg", class: "floating"%> 
        <% end %>
      </div>
              
    </div>

    
    <div class="vertical-spacer"></div>
    
    <div class="container text-center" id="video">

      <div class="visible-xs-* hidden-sm hidden-md hidden-lg">
        <video width="350" preload="true" autoplay="true" loop="true" poster="">
          <source src="images/3077605.mp4" type="video/mp4"/>
        </video>
      </div>
      <div class="hidden-xs visible-sm-* hidden-md hidden-lg">
        <video width="550" preload="true" autoplay="true" loop="true" poster="">
          <source src="images/3077605.mp4" type="video/mp4"/>
        </video>
      </div>
      <div class="hidden-xs hidden-sm visible-md-* hidden-lg">
        <video width="750" preload="true" autoplay="true" loop="true" poster="">
          <source src="images/3077605.mp4" type="video/mp4"/>
        </video>
      </div>
      <div class="hidden-xs hidden-sm hidden-md visible-lg-*">
        <video width="950" preload="true" autoplay="true" loop="true" poster="">
          <source src="images/3077605.mp4" type="video/mp4"/>
        </video>
      </div>

    </div>

    <div class="vertical-spacer"></div>

    <div class="container">
     <div class="row">
        <div class="col-xs-4 text-center">
          <%= image_tag"tétine.svg"%> 
        </div>
        <div class="col-xs-4 details text-center">
          <p>Céline VINCENT et Clément TANGUY
          <br>5 rue Lavoisier 75008 Paris
          <br>0617172340-0624562658
          </p>
        </div>
        <div class="col-xs-4 text-center">
          <%= image_tag"tétine.svg"%> 
        </div>
      </div>
    </div>
</div>  

  <script>

    window.sr = new scrollReveal();

  </script>

  <script>
        $(document).ready(function(){
      $(".img-popover").popover({
        html: true,
        trigger: "hover",
        placement: "bottom"
      });
    })
  </script>
 









