<div class="container border">

    <div class="container">
      <div class="row text-center">
        <div class="col-xs-6">
          <%= image_tag"mobile.svg"%>
        </div>
        <div class="col-xs-6">
          <%= image_tag"mobile.svg"%>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
          <div id="announcement">

            <div class="text-center slideRight">
              <%= image_tag"poussette.svg"%>
            </div>
            
            <div class="vertical-spacer"></div>

            <p>C'est avec une joie immense que nous vous annonçons la naissance de notre fille
            <h1>MATHILDA</h1>
            <br>Née le 10 juillet 2015 à 
            <br>Elle pèse kg pour cm et se porte à merveille</p>
            
            <div class="text-center">
              <% link_to '#photos' do %>
                <%= image_tag"baby.svg", class: "floating"%> 
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" id="photos">
    </div>

    <div class="container">
     <div class="row">
        <div class="col-xs-4 text-center">
          <%= image_tag"tétine.svg"%> 
        </div>
        <div class="col-xs-4 details text-center">
          <p>Céline VINCENT et Clément TANGUY
          <br>5 rue Lavoisier
          <br>75008 Paris
          <br>0617172340 / 0624562658
          </p>
        </div>
        <div class="col-xs-4 text-center">
          <%= image_tag"tétine.svg"%> 
        </div>
      </div>
    </div>
  </div>  

  <script>

    window.sr = new scrollReveal();

  </script>

  <script>
        $(document).ready(function(){
      $(".img-popover").popover({
        html: true,
        trigger: "hover",
        placement: "bottom"
      });
    })
  </script>
 









